{% load static %}
{% load widget_tweaks %}
{% csrf_token %}
<h2 class="title">Entrar no sistema</h2>
<div class="input-field">
    <i class="fas fa-user"></i>
    <input type="text" name="username" id="username" placeholder="Username" />
</div>
<div class="input-field">
    <i class="fas fa-lock"></i>
    <input type="password" name="password" id="password" placeholder="Password" />
</div>
<input type="submit" value="Login" class="btn solid" />
<p class="social-text">Ou entre com suas redes sociais</p>
<div class="social-media">
    <a href="#" class="social-icon">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon">
        <i class="fab fa-google"></i>
    </a>
    <a href="#" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
    </a>
</div>