<tr id="trVenda{{ object.pk }}" style="border-bottom: 0.15px solid rgb(229, 224, 224); border-top: 0.15px solid rgb(229, 224, 224); ">
    <th>Cliente</th>
    <th>Data da venda</th>
    <th>Status</th>
    <th>Ações</th>
</tr>
<tr>
    <td>{{object.cliente.nome_cliente}}</td>
    <td>{{object.data_criacao|date:'d/m/y - H:i:s'}}</td>
    {% if object.status == 'Entregue' %}
    <th style="color: rgb(23, 99, 23);">{{ object.status }}</th>
    {% else %}
    <th>{{ object.status }}</th>
    {% endif %}
    <td>
        <a style="text-decoration: none;" hx-get="{% url 'detalhe-vendas' object.pk %}" data-toggle="modal"
            data-target="#staticBackdrop" hx-target="#addConteudo">
            <i class="fa-solid fa-eye" style="color: rgb(0, 132, 255);"></i>
        </a>
        <a href="" hx-get="{% url 'editar-vendas' object.pk %}" data-toggle="modal"
        data-target="#staticBackdrop" hx-target="#addConteudo">
            <i class="fa-solid fa-pen-to-square" style="margin-left: 10px; color: #9442ED;"></i>
        </a>
    </td>
   
</tr>

<tr>
    <th>Produtos</th>
    <th>Quantidade</th>
    <th>Preço Unidade</th>
    <th>Sub Total</th>
</tr>
{% for items in object.vendas_items.all %}
<tr>
    <td>{{ items.produto }}</td>
    <td>{{ items.quantidade }}</td>
    <td>{{ items.preco }}</td>
    <td>{{ items.subtotal }}</td>
</tr>
{% endfor %}
<tr style="color: red;">
    <td></td>
    <td></td>
    <th>Desconto</th>
    <th>{{ object.desconto }}</th>
</tr>
<tr style="color: green;">
    <th>Forma de pagamento</th>
    <th>{{object.forma_pagamento}}</th>
    <th>Total</th>
    <th>{{ object.total }}</th>

</tr>