{% load widget_tweaks %}
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel"> Novo colaborador </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post="{% url 'cadastrar-colaborador' %}" hx-target="#colaborador-Tbody" hx-indicator=".htmx-indicator"
      hx-swap="afterbegin">

  <div class="modal-body">
    {% csrf_token %}
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.usuario class="form-control" %}
        {% render_field form.nome_colaborador class="form-control" %}
        <label for="">Escreva o nome do cliente</label>
      </div>
    </div>
        <!---->
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.cpf class="form-control" id="cpf" %}
        <label for="" id="error-cpf">Informe o CPF (opcional)</label>
      </div>
      <div class="col form-floating">
        {% render_field form.data_nascimento class="form-control" type="date" %}
        <label for="">Data de nascimento (opcional)</label>
      </div>
    </div>
        <!---->
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.telefone_contato class="form-control" id="telefone" %}
        <label for="" id="error-message">Telefone para contato</label>
      </div>
      <div class="col form-floating">
        {% render_field form.telefone_contato_2 class="form-control" id="telefone2" %}
        <label for="" id="error-message2">Outro telefone de contato (opcional)</label>
      </div>
    </div>
        <!---->
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.rua class="form-control" %}
        <label for="">Endereço (opcional)</label>
      </div>
      <div class="col form-floating">
        {% render_field form.bairro class="form-control" %}
        <label for="">Bairro (opcional)</label>
      </div>
    </div>

    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col-md-6 form-floating">
        {% render_field form.cargo class="form-control" %}
        <label for="">Cargo ou função (opcional)</label>
      </div>
      <div class="col-md-3 form-floating">
        {% render_field form.salario class="form-control" %}
        <label for="">Preço do salario (opcional)</label>
      </div>
      <div class="col-md-3 form-floating">
        {% render_field form.data_pagamento class="form-control" %}
        <label for="">Data de pagamento do salario (opcional)</label>
      </div>
    </div>
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.observacao class="form-control" %}
        <label for="">Observaçāo</label>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
  <button id="finalizar" type="submit" class="btn btn-outline-primary">Finalizar</button>
</div>
</form>
<script>
  $('form').on('submit', function () {
    $('#staticBackdrop').modal('toggle')
    setTimeout(() => {
      $('#success_tic').modal('toggle')
    }, "500");
  });
  $(document).ready(function () {
    $('#cpf').mask('000.000.000-00', { reverse: false });
    $('#telefone').mask('(00) 00000-0000');
    $('#telefone2').mask('(00) 00000-0000');
  })
  document.querySelector('#telefone').addEventListener('change', erroformulario);
  document.querySelector('#telefone').addEventListener('mouseout', erroformulario);
  document.querySelector('#telefone').addEventListener('click', erroformulario);
  document.querySelector('#telefone').addEventListener('keyup', erroformulario);


  document.querySelector('#telefone2').addEventListener('change', erroformulario2);
  document.querySelector('#telefone2').addEventListener('mouseout', erroformulario2);
  document.querySelector('#telefone2').addEventListener('click', erroformulario2);


  document.querySelector('#cpf').addEventListener('change', errocpf);
  document.querySelector('#cpf').addEventListener('mouseout', errocpf);
  document.querySelector('#cpf').addEventListener('click', errocpf);

  function erroformulario () {
    let telefone = document.querySelector('#telefone');
    let error_tel =  document.querySelector('#error-message');
    let qtd = telefone.value;
    if(qtd.length >= 1 && qtd.length < 15){
      telefone.style.border = '1px solid #ff0000';
      error_tel.style.display = 'block' ;
      error_tel.style.color = '#ff0000';
      error_tel.innerHTML = 'Numero invalido';
      document.querySelector('button[type=submit]').setAttribute('type', 'button')
    }else {
      telefone.style.border = '';
      error_tel.style.display = 'block' ;
      error_tel.style.color = '';
      error_tel.innerHTML = 'Telefone para contato';
      document.querySelector('#finalizar').setAttribute('type', 'submit')
    }

  };
  function erroformulario2 () {
    let telefone2 = document.querySelector('#telefone2');
    let error_tel2 =  document.querySelector('#error-message2');
    let qtd = telefone2.value;
    if(qtd.length >= 1 && qtd.length < 15){
      telefone2.style.border = '1px solid #ff0000';
      error_tel2.style.display = 'block' ;
      error_tel2.style.color = '#ff0000';
      error_tel2.innerHTML = 'Numero invalido';
      document.querySelector('button[type=submit]').setAttribute('type', 'button')
    }else {
      telefone2.style.border = '';
      error_tel2.style.display = 'block' ;
      error_tel2.style.color = '';
      error_tel2.innerHTML = 'Telefone para contato';
      document.querySelector('#finalizar').setAttribute('type', 'submit')
    }

  };

  function errocpf () {
    let cpf = document.querySelector('#cpf');
    let error_cpf =  document.querySelector('#error-cpf');
    let qtd = cpf.value;
    if(qtd.length >= 1 && qtd.length < 14){
      cpf.style.border = '1px solid #ff0000';
      error_cpf.style.display = 'block' ;
      error_cpf.style.color = '#ff0000';
      error_cpf.innerHTML = 'CPF invalido';
      document.querySelector('button[type=submit]').setAttribute('type', 'button')
    }else {
      cpf.style.border = '';
      error_cpf.style.display = 'block' ;
      error_cpf.style.color = '';
      error_cpf.innerHTML = 'Informe o CPF (opcional)';
      document.querySelector('#finalizar').setAttribute('type', 'submit')
    }
  };
</script>
