{% extends 'dashboard/pagina-inicial.html' %}

{% block titulo %}Clientes{% endblock %}
{% block conteudo %}


<a
        href=""
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#staticBackdrop"
        hx-get="{% url 'cadastrar-cliente' %}"
        hx-target="#adicionar-conteudo"


>Cadastrar cliente</a>
<div style="padding-top:18px">
    <table class="table">
        <thead>
        <tr>
            <th>Cliente</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody id="cliente-Tbody">
            {% include 'cliente/tabela/tabela-cliente.html' %}
        </tbody>
    </table>

</div>
{% include 'cliente/modal-vazio/modal-cadastrar-cliente.html' %}
{% endblock conteudo %}