{% extends 'dashboard/pagina-inicial.html' %}
{% block titulo %}
Serviços
{% endblock titulo %}
{% block conteudo %}
<a hx-get="{% url 'cadastrar-servico' %}" hx-target="#adicionar-servico" hx-swap="innerHTML"
    hx-indicator=".htmx-indicator" class="btn btn-outline-primary" data-bs-toggle="modal"
    data-bs-target="#staticBackdrop">
    Cadastrar serviço
</a>
<div style="padding-top:18px">
    <table class="table table-borderless table-hover" style="box-shadow: 2px 2px 15px 0px rgba(4, 4, 4, 0.15);">
        <thead style="border-bottom: 0.15px solid rgb(229, 224, 224)">
            <tr>
                <th>Serviços</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="servico-Tbody">
            {% include 'servico/tabela-servico/tabela-servico.html' %}
        </tbody>
    </table>
</div>
{% include 'servico/modal-servico/modal-servico.html' %}
{% include 'servico/modal-servico/modal-editar-servico.html' %}
{% include 'servico/modal-servico/modal-alerta.html' %}
{% include 'servico/modal-servico/modal-alerta-editar.html' %}
{% include 'servico/modal-servico/modal-alerta-apagar.html' %}
{% endblock conteudo %}