{% extends 'dashboard/pagina-inicial.html' %}

{% block titulo %}Serviços{% endblock titulo %}
{% block style %}
<style>
     .table {
        font-size: 20px;
    }
    .btn {
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
        font-size: 20px;

    }
    .card {
        max-width: 20rem; 
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
        margin-bottom: 20px;

    }
    .card .card-text {
        margin: 30px auto ;
    }
</style>
{% endblock style %}

{% block conteudo %}
<div class="row" id="relatorio-peca">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total de serviços cadastrados <b></b></h5>     
        </div>
      </div>
</div>

<a href=""
   class="btn btn-outline-primary"
   data-toggle="modal"
   data-target="#staticBackdrop"
   hx-get="{% url 'cadastrar-servico' %}"
   hx-target="#adicionar-conteudo"
   hx-swap="innerHTML">
    Cadastrar Serviços</a>


<div style="padding-top:18px">
    <table class="table table-borderless table-hover" style="box-shadow: 2px 2px 15px 0px rgba(4, 4, 4, 0.15);">
        <thead style="border-bottom: 0.15px solid rgb(229, 224, 224)">
        <tr>
            <th>Serviços</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="servico-Tbody">
            {% include 'servico/tabela/tabela-servico.html' %}
            {% include 'servico/modais-vazios/modal-alerta.html' %}
            {% include 'servico/modais-vazios/modal-alerta-editar.html' %}
            {% include 'servico/modais-vazios/modal-alerta-apagar.html' %}
        </tbody>
    </table>
</div>


{% include 'servico/modais-vazios/modal-cadastrar-servico.html' %}
{% endblock conteudo %}



