<h3>Peca</h3>
<h5>{{ object.nome_peca }}</h5>
<h3>Quantidade em estoque</h3>
<h5>{{ object.quantidade}}</h5>
<h3>Preco de custo por unidade</h3>
<h5>{{ object.preco_de_custo }}</h5>
<h3>Preco de venda por unidade</h3>
<h5>{{ object.preco_peca }}</h5>
<h3>lucro por unidade</h3>
<h5>{{ object.lucro }}</h5>
<h3>Preco de custo de todas as pecas</h3>
<h5>{{ object.precototal }}</h5>
<h3>Preco de venda de todas as pecas</h3>
<h5>{{ object.vendatotal }}</h5>
<h3>lucro de venda de todas as pecas</h3>
<h5>{{ object.lucrototal }}</h5>
<h3>Data de cadastro</h3>
<h5>{{ object.data_criacao|date:'d/m/y h:i' }}</h5>
<h3>Ultima edicao</h3>
<h5>{{ object.data_edicao|date:'d/m/y h:i' }}</h5>
        
    
