<tr id="servicoTr{{ object.pk }}">
    <td>{{ object.servico }}</td>
    <td>
        <span data-bs-toggle="modal" data-bs-target="#staticBackdrop2" hx-get="{% url 'editar-servico' object.pk %}"
            hx-target="#editar-conteudo-servico">
            <i class="fa-solid fa-pen-to-square" style="color: rgb(4, 131, 21);"></i>
        </span>

        <span data-bs-toggle="modal" data-bs-target="#success_tic_delete" hx-get="{% url 'apagar-servico' object.pk %}"
            hx-confirm="Deseja mesmo apagar este servico" hx-target="closest tr"
            hx-swap="outerHTML swap:1s">
            <i class="fa-regular fa-trash-can" style="color: red;"></i>
        </span>
        
    </td>
</tr>