
<tr id="pecaTr{{ object.pk }}"> 
    <td>{{ peca.nome_peca }}</td>
    <td>R$ {{ peca.saldodespesa }}</td>
    <td>{{peca.forma_pagamento}}</td>
    <td>
        <span data-bs-toggle="modal" data-bs-target="#staticBackdrop" hx-target="#adicionar-conteudo">
            <i class="fa-solid fa-pen-to-square" style="color: rgb(5, 180, 84);"></i>
        </span>
        <span data-toggle="modal" data-target="#success_tic_delete"
            hx-confirm="Deseja mesmo apagar {{ peca.nome_peca }}" hx-target="closest tr" hx-swap="outerHTML swap:300ms">
            <i class="fa-regular fa-trash-can" style="color: red;"></i>
        </span>
        <span><i class="fa fa-eye"></i></span>
    </td>
</tr>
