<tr id="despesaTr{{ object.pk }}">
    <td>{{ object.nome_despesa }}</td>
    <td>{{ object.preco_despesa }}</td>
    <td>
        <span
            data-toggle="modal"
            data-target="#staticBackdrop"
            hx-get="{% url 'editar-despesa' object.pk %}"
            hx-target="#adicionar-conteudo">
            <i class="fa-solid fa-pen-to-square"></i>
        </span>



        <span
            hx-get="{% url 'apagar-despesa' object.pk %}"
            hx-confirm="Deseja mesmo apagar {{ object.nome_despesa }}"
            hx-target="closest tr"
            hx-swap="outerHTML swap:300ms">
            <i class="fa-regular fa-trash-can"></i>
        </span>
        <td>{{ object.data_cadastro}}</td>
    </td>
</tr>