<style>
  tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">Categoria despesa</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

  </button>
</div>
<div class="modal-body">
  <div class="table-responsive">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th>Categoria despesa</th>
          <th>Editar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody id="Tbody-categoria-despesa">
        {% include 'despesa/tabela/categoria-despesa.html' %}
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fechar</button>
</div>

