<div class="modal fade client-picker-client-modal"
     id="{{ modal_id }}"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="{{ modal_id }}Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" id="{{ content_id }}">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ title|default:'Novo cadastro' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-muted small">Carregando formulario...</div>
      </div>
    </div>
  </div>
</div>
