

    <h3>Situacao</h3>
    <h4>{{ object.status }}</h4>
    
    <h3>Cliente devedor</h3>
    <h4>{{ object.cliente }}</h4>
    
    <h3>Conta a receber </h3>
    <h4>{{ object.nome_contas_a_receber }}</h4>
    
    <h3>Valor da conta</h3>
    <h4>{{ object.preco_contas_a_receber }}</h4>
    
    <h3>Observacao</h3>
    <h4>{{ object.observacao|default:"Nada informado" }}</h4>
    
    <h3>Data de vencimento</h3>
    <h4>{{ object.data_vencimento|date:"d/m/Y" }}</h4>
    
    <h3>Total parcelas</h3>
    <h4>{{ object.qtd_parcela }}</h4>
    
    
    <h3>Valor pago</h3>
    <h4>{{ object.valor_entrada }}</h4>

    <h3>Valor a receber </h3>
    <h4>{{ object.valorareceber }}</h4>

    <h3>Data de cadastro</h3>
    <h4>{{object.data_criacao|date:"d/m/Y - h:i:s"}}</h4>
    <h3>Ultima edicao</h3>
    <h4>{{object.data_edicao|date:"d/m/Y - h:i:s"}}</h4>
    

