<tr>
    <td>{{ venda.cliente }}</td>
    <td><a href="tel:+55{{ venda.cliente.telefone_contato }}" style="text-decoration: none;">{{ venda.cliente.telefone_contato }}</a></td>
    <td>Compra de produtos</td>
    <td>R${{ venda.total }}</td>
    <td>{{ venda.forma_pagamento}}</td>
    <td>
        <span
            data-toggle="modal"
            data-target="#staticBackdrop"
            
            hx-target="#adicionar-conteudo">
            <i class="fa-solid fa-pen-to-square" style="color: rgb(5, 180, 84);"></i>
        </span>

        <span
        data-toggle="modal"
        data-target="#success_tic_delete"
           
            hx-confirm="Deseja mesmo apagar"
            hx-target="closest tr"
            hx-swap="outerHTML swap:300ms">
            <i class="fa-regular fa-trash-can" style="color: red;"></i>
        </span>
    </td>
    <td>{{venda.data_criacao|date:'d/m/y - H:i'}}</td>
</tr>