<tr>
    <td>Serviço feito {{orcamento.celular}}</td>
    <td>R$ {{ orcamento.total }}</td>
    <td>{{ orcamento.cliente }}</td>
    <td>{{ orcamento.forma_pagamento }}</td>
   
    <td>
        <span
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
            
            hx-target="#adicionar-conteudo">
            <i class="fa-solid fa-pen-to-square" style="color: rgb(5, 180, 84);"></i>
        </span>

        <span
        data-bs-toggle="modal"
        data-bs-target="#success_tic_delete"
           
            hx-confirm="Deseja mesmo apagar"
            hx-target="closest tr"
            hx-swap="outerHTML swap:300ms">
            <i class="fa-regular fa-trash-can" style="color: red;"></i>
        </span>
        <span data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" hx-get="{% url 'detalhe-financeiro-orcamento' orcamento.pk %}"
              hx-target="#detalhe-financeiro" hx-swap="innerHTML"><i class="fa fa-eye"></i></span>
    </td>
</tr>