{% load widget_tweaks %}
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalToggle"> Cadastrar despesa </h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
  </button>
</div>
<form hx-post="{% url 'cadastrar-despesa' %}" hx-target="#despesa-Tbody" hx-indicator=".htmx-indicator"
      hx-swap="afterbegin">

  <div class="modal-body">
    {% csrf_token %}
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.usuario class="form-control" %}
        {% render_field form.nome_despesa class="form-control" %}
        <label for="">Descrição da despesa </label>
      </div>
      <div class="col form-floating">
        {% render_field form.categoria_despesa class="form-select" %}
        <label for="">Informe a categoria desta despesa (opcional)</label>
      </div>
    </div>
    <!---->
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col-3 form-floating">
        {% render_field form.preco_despesa class="form-control" value="0.00" %}
        <label for="">Informe o preco da despesa</label>
      </div>
      <div class="col-3 form-floating">
        {% render_field form.forma_pagamento class="form-select" %}
        <label for="">Forma de pagamento</label>
      </div>
      <div class="col-6 form-floating">
        {% render_field form.fornecedor class="form-select" %}
        <label for="">Informe o fornecedor se houver(opcional)</label>
      </div>
    </div>
    <!---->
    <div class="row g-2" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.observacao class="form-control" %}
        <label for="">Informe observação se houver</label>
      </div>
    </div>
    <div class="row g-2" style="color: #FFFFFF;">
      <div class="col-6  form-floating">
        {% render_field form.valor_entrada class="form-control" value="0.00" type="hidden" %}
        <label id="label_valor_entrada">Valor de entrada</label>
      </div>
      <div class="col-3 form-floating">
        {% render_field form.qtd_parcela class="form-control" value="01" type="hidden" %}
        <label id="label_qtd_parcela">Qtd. parcela</label>
      </div>
      <div class="col-3 form-floating">
        {% render_field form.data_vencimento class="form-control" type="hidden" %}
        <label id="label_data_vencimento">Data vencimento</label>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-outline-primary">Finalizar</button>
  </div>
</form>

<script>

  document.querySelector('#id_forma_pagamento').addEventListener('change', function () {
    var valor_entrada = document.querySelector('#id_valor_entrada');
    var data_vencimento = document.querySelector('#id_data_vencimento');
    var qtd_parcela = document.querySelector('#id_qtd_parcela');
    var label_valor_entrada = document.querySelector('#label_valor_entrada');
    var label_data_vencimento = document.querySelector('#label_data_vencimento')
    var label_qtd_parcela = document.querySelector('#label_qtd_parcela')



    if (this.value === "Fiado a pagar") {
      valor_entrada.setAttribute('type', 'Number');
      data_vencimento.setAttribute('type', 'Date');
      qtd_parcela.setAttribute('type', 'Number');
      label_valor_entrada.style.color = "rgb(67, 67, 67)";
      label_data_vencimento.style.color = "rgb(67, 67, 67)";
      label_qtd_parcela.style.color = "rgb(67, 67, 67)"
    }
    else {
      valor_entrada.setAttribute('type', 'Hidden');
      data_vencimento.setAttribute('type', 'Hidden');
      qtd_parcela.setAttribute('type', 'Hidden');
      label_valor_entrada.style.color = "#FFFFFF";
      label_data_vencimento.style.color = "#FFFFFF";
      label_qtd_parcela.style.color = "#FFFFFF";
    }
  });

  $('form').on('submit', function () {
    $('#staticBackdrop').modal('toggle')
    setTimeout(() => {
      $('#success_tic').modal('toggle')
    }, 500)
  });
</script>