<h5>Fornecedor</h5>
<h6>{{ produto.fornecedor|default:'---' }}</h6>

<h5>Telefone de contato</h5>
<h6><a href="tel:+55{{ produto.fornecedor.telefone_contato }}" style="text-decoration: none;">{{ produto.fornecedor.telefone_contato }}</a></h6>

<h5>Data da compra</h5>
<h6>{{ produto.data_criacao|date:'d/m/y - h:i' }}</h6>

<h5>Produto e quantidade</h5>
<h6>{{ produto.quantidade }} unidades {{ produto.nome_produto }}</h6>

<h5>Valor a pagar</h5>
<h6>R$ {{ produto.saldodespesa }}</h6>

<h5>Data de vencimento</h5>
<h6>{{ produto.data_vencimento|date:'d/m/y' }}</h6>

