<tr class="bg-light">
    <th>Cliente</th>
    <th>Telefone para contato</th>
    <th></th>
    <th></th>
    <th><a class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
            hx-get="{% url 'detalhe-orcamento' object.pk %}" hx-target="#adicionar-conteudo">Detalhe</a></th>
    
   
</tr>
<tr>
    <td>{{object.cliente.nome_cliente}}</td>
    <td>{{object.cliente.telefone_contato}}</td>
    <td></td>
    <td></td>
</tr>

<tr class="bg-light">
    <th>Serviços</th>
    <th>Peças</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Sub Total</th>
</tr>

{% for items in object.orcamento_items.all %}
<tr>
   
    <td>{{ items.servico }}</td>
    <td>{{ items.peca }}</td>
    <td>{{ items.quantidade }}</td>
    <td>{{ items.preco_orcamento }}</td>
    <td>{{ items.subtotal }}</td>
</tr>
{% endfor %}
<tr class="bg-default table-borderless">
    <td></td>
    <td></td>
    <td></td>
    <th>Total</th>
    <th>{{ object.total }}</th>
</tr>