{% load widget_tweaks %}
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel"> Novo fornecedor </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form hx-post="{% url 'cadastrar-fornecedor' %}" hx-target="#fornecedor-Tbody" hx-indicator=".htmx-indicator"
  hx-swap="afterbegin">

  <div class="modal-body">
    {% csrf_token %}
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.nome_fornecedor class="form-control" %}
        <label for="">Escreva o nome do fornecedor</label>
      </div>
      <div class="col form-floating">
        {% render_field form.cnpj class="form-control" id="cnpj" %}
        <label for="">Informe o CNPJ (opcional)</label>
      </div>
    </div>
    <!---->
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.telefone_contato class="form-control" id="telefone" %}
        <label for="">Telefone para contato</label>
      </div>
      <div class="col form-floating">
        {% render_field form.telefone_contato_2 class="form-control" id="telefone2" %}
        <label for="">Outro telefone de contato (opcional)</label>
      </div>
    </div>
    <!---->
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.rua class="form-control" %}
        <label for="">Endereço (opcional)</label>
      </div>
      <div class="col form-floating">
        {% render_field form.bairro class="form-control" %}
        <label for="">Bairro (opcional</label>
      </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
          {% render_field form.observacao class="form-control" %}
          <label for="">Observaçāo</label>
      </div>
  </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-outline-primary">Finalizar</button>
  </div>
</form>
<script>

  $('form').on('submit', function () {
    $('#staticBackdrop').modal('toggle')
    setTimeout(() => {
      $('#success_tic').modal('toggle')
    }, "500");
  });
  $(document).ready(function () {
        $('#cnpj').mask('00.000.000/0000-00', { reverse: false });
        $('#telefone').mask('(00) 00000-0000');
        $('#telefone2').mask('(00) 00000-0000');
    })
</script>