{% load widget_tweaks %}
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel"> Novo orcamento </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form hx-post="{% url 'orcamento:cadastrar-orcamento' %}"
        >

    {% csrf_token %}


    <div class="modal-body">
        {{ form.nf }}
        {{ formset.management_form }}
        <div id="orcamento">
            {% for items_orcamento_form in formset %}
            <div id="item-{{ forloop.counter0 }}" class="form-row">
                {{ items_orcamento_form.orcamento }}
                {{ items_orcamento_form.id }}
                <div class="col-md-6 mb-3">
                    {{ items_orcamento_form.peca }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ items_orcamento_form.preco_orcamento }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ items_orcamento_form.quantidade }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button
                id="addItem"
                class="btn btn-primary btn-sm"
                hx-get="{% url 'orcamento:adicionar-linhas' %}"
                hx-target="#orcamento"
                hx-swap="beforeend"
        >Add peca
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Finalizar</button>
    </div>
</form>
<script>
      $('form').on('submit', function() {
        $('#staticBackdrop').modal('toggle')
      });
</script>
