{% load widget_tweaks %}
<div class="row g-3 align-items-end lanhouse-service-row orcamento-item-row" data-linha-item data-tipo="peca">
  {% render_field items_orcamento_form.orcamento class='form-control' data-field='orcamento' %}
  {% render_field items_orcamento_form.id data-field='id' %}
  {% if items_orcamento_form.DELETE %}
    <div class="d-none">{% render_field items_orcamento_form.DELETE data-field='DELETE' %}</div>
  {% endif %}
  <input type="hidden" data-field="servico" value="">

  <div class="col-lg-6">
    {% include 'orcamento/componentes/seletor-peca-orcamento.html' with field=items_orcamento_form.peca label='Peça' placeholder='Selecione a peça' %}
  </div>
  <div class="col-lg-3 col-md-5">
    <label class="form-label client-picker-label" for="{{ items_orcamento_form.preco_orcamento.id_for_label }}">Preço unitário</label>
    {% render_field items_orcamento_form.preco_orcamento class='form-control selector-standard-control' data-field='preco_orcamento' %}
  </div>
  <div class="col-lg-2 col-md-5">
    <label class="form-label client-picker-label" for="{{ items_orcamento_form.quantidade.id_for_label }}">Quantidade</label>
    {% render_field items_orcamento_form.quantidade class='form-control selector-standard-control' data-field='quantidade' %}
  </div>
  <div class="col-lg-1 col-md-2 d-grid">
    <button type="button" class="btn btn-outline-danger selector-row-action" onclick="removerLinhaOrcamento(this)" aria-label="Remover peça">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>
