{% extends 'dashboard/pagina-inicial.html' %}

{% block titulo %}
Funcionarios
{% endblock titulo%}
{% block style %}
<style>
   tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }

    .card {
        max-width: 20rem;
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);

    }

    .card .card-text {
        margin: 30px auto;
    }

    .table {
        font-size: 20px;
    }

    .btn {
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
        font-size: 20px;


    }
</style>
{% endblock style %}


{% block conteudo %}
<div class="row" id="total-colaborador">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Funcionarios cadastrados <b></b></h5>
        </div>
    </div>
</div>
<div style="margin-top: 30px;">
<a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" hx-get="{% url 'cadastrar-colaborador' %}"
    hx-target="#adicionar-conteudo" hx-swap="innerHTML">Cadastrar funcionario </a>
</div>
<div style="padding-top:18px">
    <table class="table table-borderless table-hover" style="box-shadow: 2px 2px 15px 0px rgba(4, 4, 4, 0.15);">
        <thead style="border-bottom: 0.15px solid rgb(229, 224, 224)">
            <tr>
                <th>Funcionarios</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="colaborador-Tbody">
            {% include 'colaborador/tabela/tabela-colaborador.html' %}
        </tbody>
    </table>
</div>

{% include 'colaborador/modal/modal-colaborador.html' %}
{% include 'colaborador/modal/modal-alerta.html' %}
{% include 'colaborador/modal/modal-alerta-editar.html' %}
{% include 'colaborador/modal/modal-alerta-apagar.html' %}
{% include 'colaborador/off-canvas/off-canvas-colaborador.html' %}

{% endblock conteudo %}