{% load widget_tweaks %}
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel"> Editar {{ object }} </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form hx-post="{% url 'editar-peca' object.pk %}" 
      hx-target="#trPeca{{ object.pk }}"
      hx-indicator=".htmx-indicator" 
      hx-swap="outerHTML">

    <div class="modal-body">
        {% csrf_token %}
        <div class="row g-2">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.usuario class="form-control" %}
                  {% render_field form.nome_peca type="text" class="form-control" %}
                  <label for="floatingInput">Digite o nome da peca, descrição, marca e
                    modelo </label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.categoria_peca class="form-select" id="floatingSelectGrid" %}
                  <label for="floatingSelectGrid">Escolha a categoria</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-2">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.codigo_de_barras %}
                  <label for="floatingSelectGrid">Digite o codigo de barras(opcional)</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.quantidade value="01" %}
                  <label for="floatingSelectGrid">Informe a quantidade</label>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row g-2">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.preco_de_custo value="0.00" %}
                  <label for="floatingSelectGrid">Preço custo(unidade)</label>
                </div>
              </div>
              <div class="col-md">
                <div class="form-floating">
                  {% render_field form.preco_peca value="0.00" %}
                  <label for="floatingSelectGrid">Preço venda(unidade)</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  {% render_field form.fornecedor %}
                  <label for="floatingSelectGrid">Informe o fornecedor(opcional)</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3 form-floating">
                {% render_field form.forma_pagamento class="form-control" %}
                <label>Forma de pagamento</label>
              </div>
              <div class="col-md-6 mb-3 form-floating">
                {% render_field form.observacao class="form-control" %}
                <label>Observaçāo</label>
              </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-primary">Finalizar</button>
        </div>
</form>
<script>
    $('form').on('submit', function () {
        $('#staticBackdrop').modal('toggle')
        setTimeout(() => {
      $('#success_tic_editar').modal('toggle')
    }, "500");
    });
</script>