{% extends 'dashboard/pagina-inicial.html' %}
{% load static %}

{% block titulo %}Lan House{% endblock titulo %}

{% block style %}
<link href="{% static 'css/finance-dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/client-picker.css' %}" rel="stylesheet">
{% endblock style %}

{% block conteudo %}
    {% include 'lanhouse/bloco-dados.html' %}
    {% include 'lanhouse/modais/modal-base-lanhouse.html' %}
    {% include 'lanhouse/modais/modal-alerta.html' %}
{% endblock conteudo %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/client-picker.js' %}"></script>
<script src="{% static 'js/pricing-margin.js' %}"></script>
<script src="{% static 'js/finance-charts.js' %}"></script>
<script src="{% static 'js/lanhouse-dashboard.js' %}"></script>
{% include 'lanhouse/formularios/lanhouse-formset-script.html' %}
{% endblock scripts %}
