{% load widget_tweaks %}
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel"> Cadastrar contas a receber </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form hx-post="{% url 'cadastrar-contas-a-receber' %}" hx-target="#financeiro-Tbody" hx-indicator=".htmx-indicator"
  hx-swap="afterbegin">

  <div class="modal-body">
    {% csrf_token %}
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.usuario class="form-control" %}
        {% render_field form.cliente class="form-control" %}
        <label for="">Selecione o cliente</label>
      </div>
    </div>
    <!---->
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
        {% render_field form.nome_contas_a_receber class="form-control" %}
        <label for="">Informe a venda ou serviço </label>
      </div>
      <div class="col form-floating">
        {% render_field form.preco_contas_a_receber class="form-control" value="0.00" %}
        <label for="">Valor a receber</label>
      </div>
    </div>
    <div class="form-row" style="margin-bottom: 10px;">
      <div class="col form-floating">
          {% render_field form.observacao class="form-control" %}
          <label for="">Observaçāo</label>
      </div>
  </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-outline-primary">Finalizar</button>
  </div>
</form>
<script>
  $('form').on('submit', function () {
    $('#staticBackdrop').modal('toggle')
    setTimeout(() => {
      $('#success_tic').modal('toggle')
    }, 500)
  });
</script>