<tr id="trServico{{ object.pk }}">
    <td>{{ object.servico }}</td>
    <td><span data-bs-toggle="modal" data-bs-target="#staticBackdrop" hx-get="{% url 'editar-servico' object.pk %}"
            hx-target="#adicionar-conteudo">
            <i class="fa-regular fa-pen-to-square" style="color: rgb(4, 131, 21);"></i>
        </span>
        <span data-bs-toggle="modal" data-bs-target="#success_tic_delete" hx-get="{% url 'apagar-servico' object.pk %}"
            hx-confirm="Deseja mesmo apagar {{ object.servico }}" hx-target="closest tr"
            hx-swap="outerHTML swap:1s">
            <i class="fa-regular fa-trash-can" style="color: red;""></i>
        </span>
        <span><i class="fa fa-eye"></i></span>
    </td>
</tr>