{% extends 'dashboard/pagina-inicial.html' %}
{% load relatorio_pecas %}
{% block style %}
<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 300ms ease-out;
    }
    .card {
        max-width: 20rem; 
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);

    }
    .card .card-text {
        margin: 30px auto ;
    }
    .table {
        font-size: 20px;
    }
    .btn {
        box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);

    }
</style>
{% endblock style %}

{% block titulo %} Peças {% endblock titulo %}

{% block conteudo %}
<div class="row" id="relatorio-peca">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suas peças cadastradas <b>{% total_peca %}</b></h5>     
          <h2 class="card-text">Seu Lucro R${% calculo %}</h2>       
          <h6 class="card-subtitle mb-2 text-muted">Preço de custo R${% preco_custo %}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Preço de venda R${% preco_venda %}</h6>
        </div>
      </div>
</div>

<div style="margin-top: 30px;">
    <a href="" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop"
        hx-get="{% url 'cadastrar-peca' %}" hx-target="#recebe-conteudo-peca" hx-swap="innerHTML" style="font-size: 20px; margin-bottom: 20px;">Cadastrar Peças</a>
</div>
<div class="table-responsive" style="padding-top:18px">
    <table class="table table-borderless table-hover" style="box-shadow: 2px 2px 15px 0px rgba(4, 4, 4, 0.15);">
        <thead style="border-bottom: 0.15px solid rgb(229, 224, 224)">
            <tr>
               <th>Qtd.</th>
                <th>Peça</th>                
                <th>Preço venda</th>
                <th>Ações</th>
                <th>Data cadastro</th>
                <th>Ultima atualizaçāo</th>
                <th>Preço custo</th>
                <th>Lucro Und.</th>
                
            </tr>
        </thead>
        <tbody id="peca-Tbody">
            {% include 'peca/tabela/tabela-peca.html' %}
        </tbody>
    </table>
</div>

{% include 'peca/modais-vazios/modal-recebe-conteudo-add-peca.html' %}
{% include 'peca/modais-vazios/modal-alerta.html' %}
{% include 'peca/modais-vazios/modal-alerta-editar.html' %}
{% include 'peca/modais-vazios/modal-alerta-apagar.html' %}
{% endblock conteudo%}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>
{% endblock scripts %}