{% load widget_tweaks %}

<div id="item-{{ forloop.counter0 }}" class="row g-3 align-items-end lanhouse-service-row" data-linha-item data-tipo="servico">
  {% render_field itemslanhouse.lanhouse data-field='lanhouse' %}
  {% render_field itemslanhouse.id data-field='id' %}

  <div class="col-md-6">
    {% include 'lanhouse/componentes/seletor-servico-lanhouse.html' with field=itemslanhouse.servico label='Serviço' placeholder='Selecione o serviço' %}
  </div>
  <div class="col-md-3">
    <label class="form-label client-picker-label" for="{{ itemslanhouse.preco.id_for_label }}">Preço unitário</label>
    {% render_field itemslanhouse.preco data-field='preco' value="0.00" class="form-control selector-standard-control" %}
  </div>
  <div class="col-md-2">
    <label class="form-label client-picker-label" for="{{ itemslanhouse.quantidade.id_for_label }}">Quantidade</label>
    {% render_field itemslanhouse.quantidade class="form-control selector-standard-control" data-field='quantidade' value="01" %}
  </div>
  <div class="col-md-1 d-grid">
    <button type="button" class="btn btn-outline-danger selector-row-action" onclick="removerLinhaLanhouse(this)" aria-label="Remover serviço">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>
