{% extends 'dashboard/pagina-inicial.html' %}
{% load static %}

{% block titulo %}
Produtos
{% endblock titulo %}

{% block style %}
<link href="{% static 'css/finance-dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/client-picker.css' %}" rel="stylesheet">
<link href="{% static 'css/erp-table.css' %}" rel="stylesheet">
<link href="{% static 'css/produto-dashboard.css' %}" rel="stylesheet">
{% endblock style %}

{% block conteudo %}
  {% include 'produto/bloco-dados.html' %}
{% endblock conteudo %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/finance-charts.js' %}"></script>
<script src="{% static 'js/produto-dashboard.js' %}"></script>
<script src="{% static 'js/client-picker.js' %}"></script>
<script src="{% static 'js/pricing-margin.js' %}"></script>
{% endblock scripts %}
