{% extends 'dashboard/pagina-inicial.html'%}

{% block style %}
<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 300ms ease-out;
    }
</style>
{% endblock style %}
{% block titulo %}
  Produtos
{% endblock titulo %}

{% block conteudo %}
<div>
    <a
           
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#staticBackdrop"
            hx-get="{% url 'criar-produtos' %}"
            hx-target="#adicionar-conteudo"
            hx-swap="innerHTML"> Cadastrar produto</a>
</div>
<div style="padding-top:18px">
    <table id="tabela-produto" class="table">
        <thead>
        <tr>
            <th>Qtd em estoque</th>
            <th>Produto</th>
            <th>Preço de venda</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody id="produto-Tbody">
            {% include "produto/tabela/tabela-produto.html" %}
        </tbody>
    </table>

</div>

{% include "produto/modais-vazios/modal-cadastrar-produto.html" %}

{% endblock conteudo %}




